fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.10.2
langchain==0.3.10
langchain-ollama==0.2.0
stravalib==2.1
httpx==0.27.2
python-dotenv==1.0.1
pandas==2.2.3
SQLAlchemy==2.0.36
requests==2.32.3
httpx-sse==0.4.0
aiohttp==3.11.8